
.CalendarContainer{
    width: 770px;
    height: 450px;
    background-color: aliceblue;
    padding: 10px;
    box-shadow: aqua;
}
.CalendarContainerTitle{
    font-size: 1.2rem;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
}
.weekdayContainer {
    display: flex;
    margin-bottom: 10px;
}
.Weekday {
    display: block;
    flex: 1 0 0%;
    padding: 0.8rem;
    background: transparent;
    font-size: 1.2rem;
    color: #637381;
    text-align: center;
}
.Week {
    display: flex;
}

.EmptyDay {
    display: block;
    flex: 1 0 0%;
    width: calc(100%/7);
    margin: 0;
    padding: 0.8rem;
    border: 1px solid #dfe3e8;
}

.EmptyDay + .EmptyDay,
.EmptyDay + .Day {
    margin-left: -1px;
}

.Day {
    display: block;
    flex: 1 0 0%;
    width: 14.28571%;
    margin: 0;
    padding: 0.8rem;
    background: transparent;
    border: 1px solid #dfe3e8;
    border-radius: 0;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;

}

.Day + .Day,
.Day + .EmptyDay {
    margin-left: -1px;
}

.DaySelected{
    background: aqua;
    border: 1px solid aqua;
    color: black;
}