.padding {
    padding-bottom: 2rem;
}
.container-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
}
.carousel-caption {
    position: absolute;
    top: 75px;
 }
 h6 {
    padding-top: 50px;
}
 .carousel-inner > .item {
   height: 500px;
}
.btn-lg{
    color: aqua;
}
.btn {
    margin-top: 75px;
}